@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
/* Font import didn't work */

.header .navbar {
  background-color: black;
}

.navbar-light .navbar-brand {
    color: #d39e00;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #d39e00;
}

.navbar-light .navbar-nav .nav-link {
    color: #d39e00;
}

/* NOTE: CSS Filters
  https://css-tricks.com/almanac/properties/f/filter/
 */
.navbar-light .navbar-toggler-icon {
  filter: invert(100%);
}

*, ::after, ::before {
    box-sizing: border-box;
}

.hero {
  position: relative;
  /* height: 100vh; */
  min-height: 320px;
  max-height: 400px;
  z-index: 0;
}

.hero h1{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999999;
}

.h1, h1 {
    font-size: 10rem;
}

.btn-primary {
    color: #1d2124;
    background-color: #ffc107;
    border-color: #ffc107;
}

.header .nav ul li {
/* margin: 0 3em; */
margin-right: 3em;
}
