
/* Font import didn't work */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
  padding-top: 5em;
  /* font-family: Roboto Mono; */
}

.header .navbar {
  background-color: black;
}

.navbar {
  /* position: fixed; */
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-brand {
  color: #d39e00;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  text-decoration: underline;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #d39e00;
}

.navbar-light .navbar-nav .nav-link {
  color: #d39e00;
}

/* NOTE: CSS Filters
  https://css-tricks.com/almanac/properties/f/filter/
 */
.navbar-light .navbar-toggler-icon {
  filter: invert(100%);
}

*, ::after, ::before {
  box-sizing: border-box;
}

.btn-primary {
  color: #1d2124;
  background-color: #ffc107;
  border-color: #ffc107;
}

.header .nav ul li {
  /* margin: 0 3em; */
  margin-right: 3em;
}

.h1 {
  text-align: center;
}

.h2 {
  padding-left: 15px;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.2;
}

.lead {
  font-weight: 500;
}

/* DEBUG: Header Heading 1 effect */
h1 .letter-e {
  display: inline-block;
  font-size: 1em;
  /* font-weight: 400; */
  letter-spacing: 3px;
  transform: rotate(-20deg);
  color: #3c5c21;
}

h2 .letter-e {
  display: inline-block;
  letter-spacing: 2px;
  transform: rotate(-20deg);
  color: #487d1b;
}

/* NOTE: jumbotron */
.hero {
  background-color: transparent;
  /* background-image: url(https://sewing-machine-reviews.net/contentimg/all-the-birds-in-the-sky-epub-vk.jpg); */
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  z-index: 0;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: -15px;
  margin-bottom: -15px;
  font-family: Roboto Mono;
}

/* NOTE: Styles for #travels */
#travels .card {
  border: 0;
  margin-bottom: 1em;
}

/* NOTE:
      Method 1: Place a div around the card image with a fixed height and use overflow to mask the image height over 150px
      Method 2: Edit the images to have the same height and width. Use https://www.photopea.com/ or photo editor software to edit the image's dimensions
    */
#travels .image-overflow {
  height: 150px;
  overflow: hidden;
}

#travels .card-body {
  padding-left: 0;
}

.hero {
  position: relative;
  /* height: 100vh; */
  min-height: 320px;
  max-height: 400px;
  /* z-index: 0; */
}

.footer {
  padding-left: 15px;
}

/* .hero h1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999999;
}

.h1, h1 {
  font-size: 10rem;
} */
